{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'PRODUCT.TITLE'|trans }}{% endblock %}

{% block body %}

	{% if product.getVersion()|first < 1 %}
		{% set label = 'label label-warning' %}
	{% else %}
		{% set label = 'label label-info' %}
	{% endif %}
	
	<div class="col-xs-offset-1">
		<a href="{{ path('list_products') }}">
			<button class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left"  aria-hidden="true"></span>
				Back to product list
			</button>
		</a>
	</div>
	
	<div class="container tm-5">
		<h1 class="bm-2">
		    {{ product.getName() }} 
		    <span class="{{ label }} version">v {{ product.getVersion() }}</span>
	    </h1>
		<p class="bm-1">
		    {{ product.getDescription()|nl2br }}
		</p>
		
		<div class="container-fluid tm-5">
    		{% for comment in product.getComments() %}
    			{% set bClass = (loop.index0 is even ? 'b-success' : 'b-warning') %}
    			<div class="row comment p-1">
    				<h4 class="{{ bClass }} bm-2">
    				    {{ comment.getAuthor().getUsername() }}
				    </h4>
				    <div class="{{ bClass }}">
            			<p class="bm-1">
            			    {{ comment.getComment() }}
        			    </p>
            			
            			<div class="row">
                		    {% for file in comment.getFiles() %}
                		    	<img 
                		    		class="img-responsive col-xs-12 col-md-6" 
                		    		alt="comment image" 
                		    		src="{{ file.getFileUrl() }}"
            		    		>
                		    {% endfor %}
            		    </div>
        		    </div>
    		    </div>
    		{% endfor %}
		</div>
	</div>

{% endblock %}
