
<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="active">
				<a href="{{ path('homepage') }}">{{ 'FOOTER.HOME'|trans }}</a>
			</li>
			<li role="presentation">
				<a href="#">{{ 'FOOTER.LIST.PROJECT'|trans }}</a>
			</li>
			<li role="presentation">
				<a href="{{ path('add_product') }}">{{ 'FOOTER.ADD.PROJECT'|trans }}</a>
			</li>
			<li role="presentation">
				<a href="#">{{ 'FOOTER.LOGIN'|trans }}</a>
			</li>
			<li role="presentation">
				<a href="{{ path('user_register') }}">{{ 'FOOTER.REGISTER'|trans }}</a>
			</li>
		</ul>
	</div>
</footer>
